html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.topNavShape {
  background-color: #1e60aa;
  height: 200px;
  width: 200px;
  transform: skew(-20deg);
  transform-origin: top left;
  border-radius: 5px;
  margin-top: 10px;
  z-index: 1;
  position: relative; /* Ensure the element is within the normal document flow */
}

.fouruPlumbingLogo {
  height: auto;
  width: 120px;
  position: absolute; /* Allows for precise positioning */
  top: 10px; /* Adjust this value to position your logo vertically */
  left: 60px; /* Center horizontally */
  transform: translateX(-50%); /* Center the logo precisely */
  z-index: 2; /* Ensure the logo is above the top nav */
}

.fouruPlumbingLogo-text {
  position: absolute;
  margin-top: 60px;
  margin-left: -185px;
  z-index: 3;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
}

.top-nav {
  background-color: #1e60aa;
  margin-top: -8px;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%; /* Make the nav bar span full width */
}

.top-nav span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1;
}

.top-nav .top-nav-emailUs {
  color: white;
  margin-right: 100px;
  margin-left: -40px;
  font-size: 14px;
  font-weight: 600;
  margin-top: -10px;
  z-index: 4;
}

.top-nav-emailUs .email-Us {
  color: rgb(189, 238, 255);
  margin-right: 5px;
  font-weight: 600;
  font-size: 14px;

}

.top-nav-operatingTimes {
  color: white;
  margin-top: -10px;
  margin-right: 250px;
  font-size: 14px;
  font-weight: 600;
}

.clockIcon {
  height: 20px;
  width: auto;
  margin-right: 5px;
  margin-top: 1px;
  stroke-width: 1px;
}

.main-Nav ul {
  background-color: rgb(255, 255, 255);
  width: 100%; /* Ensures it takes up full width */
  height: 85px;
  margin-top: -20px;
  display: flex;
  flex-direction: row; /* Ensures the links are in a row */
  gap: 100px;
  padding: 0; /* Removes any default padding */
  list-style-type: none; /* Removes default list bullets */
  align-items: center; /* Centers items vertically */
  justify-content: center;
}

.main-Nav a {
  text-decoration: none;
  display: inline-flex; /* Keeps the links inline */
  justify-content: center;
  align-items: center;
  padding: 10px 20px; /* Adds padding inside the links */
  color: #1e60aa;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.main-Nav a:hover {
  color: rgb(86, 213, 255);;
}

.top-nav-socialMedia {
  margin-bottom: 10px;
}

.Follow-us {
  color: rgb(189, 238, 255);
  font-weight: 600;
  font-size: 14px;
  margin-left: -140px;
  margin-right: 10px;
}

.topnav-times {
  color: rgb(189, 238, 255);
  margin-right: 5px;
}

.topnav-contact{
  margin-left: 100px;
  margin-right: 5px;
  color: rgb(189, 238, 255);
}

.main-Nav


